* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}
html{
    scroll-behavior: smooth;
}


nav {
    background-color: rgba(52, 45, 45, 0.631);
    height: 30px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    overflow: hidden;
    /* background-color: red; */
    /* bottom: 500px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}

#image {
    height: 80px;
    width: 120px;
    /* border: solid 2px rgb(243, 240, 240); */
    /* border-radius: 60%; */
    margin: 10px;
    float: left;
}

.nav-links {
    /* flex: 1; */
    text-align: right;

    flex-wrap: nowrap;
    position: relative;
    float: left;
}

.nav-links a {
    margin: 3px;
    font-size: 12px;
    color: aliceblue;
    text-decoration: none;
}

.nav-links li {
    list-style: none;
    display: inline-block;
    padding: 7px 12px;
    /* position: relative; */
}

.nav-links li::after {
    content: '';
    width: 0%;
    height: 0.5px;
    background-color: #36c8f4;

    /* display property means starts on a new line and takes up the available screen width. */
    display: block;
    /* space will be split equally between the left and right margins. */
    margin: auto;
    transition: 0.7s;
}

.nav-links li:hover::after {
    width: 90%;
    height: 0.5px;
    background-color: #36c8f4;
    display: block;
    margin: auto;
}

.container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/20_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;

    text-align: center;
}
.main{
    /* position: relative; */
    /* top: 50%; */
    /* to place it at between without relative */
    background-color: rgba(75, 121, 71, 0.5);
    height: 60%;
    width: 60%;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    color: aliceblue;
    border: solid 1px rgb(221, 148, 148);
    border-radius: 3%;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
}


.home{
    margin-left: auto;
    margin-right: auto;
}
.home h1{
    font-size: 35px;
    color: rgb(113, 203, 235);
}
.home p{
    padding-top: 20px;
     font-size: 20px;
    color: rgb(253, 254, 252);
}

.about {
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    
}

.about1 {
    background-color: rgb(8, 17, 51);
    height: 80%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: ridge 0px black;
    /* box-shadow: 2px 9px 20px rgb(39, 38, 38); */
}
.about2{
    height: 100%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);

    
    justify-content: space-around;
    padding: 20px;
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
}
.about2 h1{
    
    margin-left: auto;
    margin-right: auto;
}
.about2_2{
    width: 40%;
    font-size: 20px;
    color: #545251;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.about2_2 h1{
    color: black ;
}
.about2_1{
    margin-top: 50px;
}
.about2_1 label{
    cursor:text;
}
.about2 img{
    height: 250px;
    width:auto;
    border: solid 1px black;
    border-radius: 50%;
}
.about2 label{
    font-size: 20px;
}
.about2 p{
    margin-bottom: 15px;
}
.ans{
    color: blue;
}

.about2_2 p{
    margin-top: 20px;
    font-size: 18px;
}

.skills{
    height: 100vh;
    width: 100%;
    /* background-color: rgb(220, 70, 70); */
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
}
.heading{
    width: 80%;
    margin-left: 380px;
    /* margin-right: auto; */
    
    /* background-color: #f44336; */
}
.heading p{
    margin-left: 70px;
    font-size: 15px;
}
.heading h1{
    margin-left: 120px;
    font-size: 50px;
}

.skills1{
    height: 80%;
    width: 80%;
    /* background-color: aqua; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* flex-direction: row; */
    justify-content: space-around;
}
.sk{
    border: solid 0px rgb(0, 0, 0);
    border-radius: 30%;
    box-shadow: 0px 0px 20px black;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    
    margin: 30px;
    
}
.sk img{
    height: 80px;
    border: solid 0px black;
    border-radius: 10%;
    /* overflow: hidden; */
    margin-left: auto;
    margin-right: auto;
}
.sk:hover{
    transition: 0.5s;
    background-color: #a8cedc;
}
.code{
    height: 100vh;
    width: 100%;
    background-color: rgb(245, 237, 237);
    display: flex;
    align-items: center;
}
.code1{
    height: 80%;
    width: 80%;
    /* background-color: rgb(210, 201, 201); */
    /* box-shadow: 0px 0px 20px black; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cp{
    height: 150px;
    width: 150px;
    border: solid 0px rgb(0, 0, 0);
    border-radius: 30%;
    overflow: hidden;
    box-shadow: 0px 0px 20px black;
}
.cp img{
    height:100%;
    width: 100%;
}
.cp:hover{
    border: solid 2px rgb(20, 26, 142);
}
.headCode{
    margin-top: 0px;
    width: 80%;
    margin-left: 290px;
    font-size: 30px;
}
.headCode h1{
    margin-left: 90px;
}
.contact{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(242, 234, 234)
}
.contact1{
    height: 80%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    background-color: #ffffff;
}
.contact2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
}
.ct{
    height: 120px;
    width: 120px;
    border: solid 0px blue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-align: center;
}
.ct:hover{
    transition: 1s;
    border: solid 2px rgb(130, 130, 183);
    background-color: #8499c1;
}
.ct img{
    height: 70%;
    width: 70%;
    border: solid 1px black;
    border-radius: 60%;
}
footer {
    text-align: center;
    padding: 5px;
    margin: 1px;
    background-color: rgb(177, 145, 134);
    color: white;
}